body {
    width: 100vw;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    font-family: 'Acme', sans-serif;
    border-bottom: 2px inset #111;
}

.main-title {
	font-size: 5rem;
}

.main {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 80vh;
    width: 100vw;
    font-family: 'Cabin', sans-serif;
}

.menu-bone {
    background: transparent;
    outline: none;
    border: none;
}

.pet-name {
    font-size: 8.2rem;
    font-family: 'Permanent Marker', cursive;
}

/*Buttons*/
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.btn-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.btn {
    margin-top: .2rem;
    margin-bottom: .2rem;
    height: 8rem;
    width: 8rem;
}

#fed {
    background: none;
    border: 1rem solid blue;
}

#watered {
    background: blue;
    border: 1rem solid blue;

}

#success1 {
    background: none;
    border: 1rem solid green;
}

#success2 {
    background: green;
    border: 1rem solid green;

}

#accident1 {
    background: none;
    border: 1rem solid red;
}

#accident2 {
    background: red;
    border: 1rem solid red;
}


#timeButtons {
    display: none;
    font-size: 4rem;
}

.add-time{
	height: 4rem;
	width: 6rem;
	
}

/*Buttons*/



.title {
    margin-top: 1rem;
    font-size: 4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.time-left {
	font-size: 4rem;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}



.succ-acc {
    display: flex;
    justify-content: space-around;
    width: 80%;
    border: 1px solid black;
    

}
#succ {
	font-size: 2.5rem;
}
#acc {
	font-size: 2.5rem;
}

#succ::before {
    content: "Successes: "
}

#acc::before {
    content: "Accidents: ";
}

.log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-height: 16rem;
    padding: 5rem 1rem 5rem 1rem;
    overflow: scroll;

}

.log-data {
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
}

.log-data:nth-child(odd) {
    background-color: #ddd;
}